@model IEnumerable<NinnoFeliz.Models.Ninno>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreNinno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apell1Ninno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apell2Ninno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionNinno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGeneroNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreNinno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apell1Ninno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apell2Ninno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionNinno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGeneroNavigation.DetalleGen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNinno">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdNinno">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNinno">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
