@model IEnumerable<NinnoFeliz.Models.Alergia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreAlergia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoAlergiaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreAlergia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoAlergiaNavigation.NombreTipoAlergia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAlergia">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAlergia">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAlergia">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
